.header-container {
  background-color: $componentsColor;

  .header-content {
    @include flex-between;
    //LOGO
    .logo-container {
      padding: 1.6rem 0;
      img,
      i {
        width: 6rem;
        max-height: 3rem;
      }
    }
  }
}
