/* GLOBAL */
.container {
  width: 87.17%;
  max-width: 113.6rem;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

/* BUTTON (To be used along with .primary or other classes */
.button {
  display: inline-block;
  margin: 0;
  padding: 0.9rem 1.5rem;
  border-radius: 2.3rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  border: 2px solid #081343;
  font-family: "Raleway", sans-serif;
  line-height: 21.13px;
  letter-spacing: 0.5px;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 0px 4px #081343;
}
.button.primary {
  text-transform: uppercase;
  background-color: #081343;
  color: #ffffff;
}
.button.secondary {
  font-size: 1.8rem;
  background-color: transparent;
  color: #081343;
  border: 2px solid #081343;
}
.button.tertiary {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #081343;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 78.9%;
  }
  .button {
    font-size: 1.8rem;
    width: fit-content;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Global styles */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #000000;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
}
i.shopping-cart {
  content: url(../public/assets/icons/shopping-cart.svg);
  width: 2rem;
}

/* LAYOUT STYLES */
.header-container {
  background-color: #c3c3b7;
}
.header-container .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-content .logo-container {
  padding: 1.6rem 0;
}
.header-container .header-content .logo-container img,
.header-container .header-content .logo-container i {
  width: 6rem;
  max-height: 3rem;
}

.footer-container {
  border-top: 1px solid #ff5c40;
  margin-top: 2.4rem;
}
.footer-container .logo-container {
  padding: 2.4rem 0;
}
.footer-container .logo-container img,
.footer-container .logo-container i {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;
}

.cart-items-container .carrito-item-container {
  padding: 0.5rem;
  margin: 1.6rem 0;
  background-color: #1d8f5e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
}
.cart-items-container .carrito-item-container .carrito-item-img img {
  width: 16rem;
}
.cart-items-container .carrito-item-container .carrito-item-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
}
.cart-items-container .carrito-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

.carrito-icon-container {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  transition: background-color 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrito-icon-container:hover {
  background-color: #ffffff;
}
.carrito-icon-container .cart-count {
  font-weight: 700;
  color: #ff5c40;
}

.empty-cart-msg {
  margin: 2.4rem auto;
  width: fit-content;
  padding: 1.6rem;
}
.empty-cart-msg .button {
  display: block;
  margin: 0 auto;
}

/* PRODUCTS */
.products-list {
  margin: 2.4rem auto;
}

.product-card {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 2.4rem;
}
.product-card:last-of-type {
  margin-bottom: 0;
}
.product-card .card-content {
  padding: 1rem;
}

/*# sourceMappingURL=App.css.map */
